*.swp
*.owp
*.env
*.env.prod
*.env.test
*.aws/
*.ssh/

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.swo
*.swp
*.zip

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
/gems
yarn-debug.log*
.yarn-integrity
coverage
vendor
# Ignore application configuration
/config/application.yml

#Ignore neo4j db installation
/db/neo4j/test

